*.qmd linguist-detectable=true
*.R linguist-detectable=true
*.Rmd linguist-detectable=true
*.md linguist-documentation
*.html linguist-documentation
echo "*.qmd linguist-language=R" >> .gitattributes
echo "*.Rmd linguist-language=R" >> .gitattributes
